# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Build results
bin/
obj/

# Uncomment if you have tasks that create project's static files
#wwwroot/

# VS Code directories
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
Thumbs.db
ehthumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
/.vs/KIOS_Integration/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/KIOS_Integration/v17/DocumentLayout.json
/.vs/KIOS_Integration/v17/.futdcache.v2
/.vs/ProjectEvaluation/kios_integration.metadata.v7.bin
/.vs/ProjectEvaluation/kios_integration.projects.v7.bin
*.v2
*.bin
/.vs/CHZ_Integration/v17/DocumentLayout.json
/.vs/CHZ_DriveThruAPI/v17/DocumentLayout.json
/.vs/CHZ_DriveThruAPI/v17/.wsuo
/.vs/CHZ_Integration/v17/DocumentLayout.backup.json
/.vs/CHZ_Integration/config/applicationhost.config
*.json
/CHZ_Integration.zip
/.vs/ServerApp_API/v17/.wsuo
